<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner_younes"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Younes.Splash"
        android:usesCleartextTraffic="false">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Younes.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Accueil avec liste des matières -->
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.Younes" />

        <!-- Liste des examens pour une matière -->
        <activity
            android:name=".ExamListActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.Younes" />

        <!-- Lecteur PDF -->
        <activity
            android:name=".PdfReaderActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".ExamListActivity"
            android:theme="@style/Theme.Younes" />

    </application>

</manifest>
